<div class="card mb-3">
  <!-- <div class="card-header-tab card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
      <i class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"> </i>
      University
    </div>
     
  </div> -->
  <form>
    <div class="p-2">
      <div class="form-group form-inline mb-0">
        Search:
        <input class="form-control ml-2" type="text" name="searchTerm" placeholder="Search university" [(ngModel)]="service.searchTerm"/>
        <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
        <div class="btn-actions-pane-right">
      
            <button class="btn-shadow btn btn-dark">Refresh</button>
            
        </div>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" class="text-center">id</th>
        <th scope="col" sortable="university" (sort)="onSort($event)">University
            <i class="ion ion-md-arrow-dropdown"></i>
        </th>
        <th scope="col" sortable="lecture" (sort)="onSort($event)">Lecture <i class="ion ion-md-arrow-dropdown"></i></th>
        <th scope="col" sortable="support" (sort)="onSort($event)">Support <i class="ion ion-md-arrow-dropdown"></i></th>
        <th scope="col" sortable="hachathon" (sort)="onSort($event)">Hachathon <i class="ion ion-md-arrow-dropdown"></i></th>
        <th scope="col" sortable="other" (sort)="onSort($event)">Other <i class="ion ion-md-arrow-dropdown"></i></th>
        <th scope="col" sortable="total" (sort)="onSort($event)">Total <i class="ion ion-md-arrow-dropdown"></i></th>
        
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let university of universities$ | async">
        <th scope="row" class="text-center">
            <a routerLinkActive="active-item" routerLink="/dashboards/universitydetail" class="vsm-link"> {{ university.id }}</a></th>
        <td>
            <a routerLinkActive="active-item" routerLink="/dashboards/universitydetail" class="vsm-link"> 
          <ngb-highlight [result]="university.university" [term]="service.searchTerm"></ngb-highlight>
        </a>
        </td>
        <td>
            <a routerLinkActive="active-item" routerLink="/dashboards/universitydetail" class="vsm-link"> 
          <ngb-highlight [result]="university.lecture" [term]="service.searchTerm"></ngb-highlight>
        </a>
        </td>
        <td>
            <a routerLinkActive="active-item" routerLink="/dashboards/universitydetail" class="vsm-link"> 
          <ngb-highlight [result]="university.support" [term]="service.searchTerm"></ngb-highlight>
        </a>
        </td>
        <td>
            <a routerLinkActive="active-item" routerLink="/dashboards/universitydetail" class="vsm-link"> 
          <ngb-highlight [result]="university.hachathon" [term]="service.searchTerm"></ngb-highlight>
        </a>
        </td>
        <td>
            <a routerLinkActive="active-item" routerLink="/dashboards/universitydetail" class="vsm-link"> 
          <ngb-highlight [result]="university.other" [term]="service.searchTerm"></ngb-highlight>
        </a>
        </td>
        <td>
            <a routerLinkActive="active-item" routerLink="/dashboards/universitydetail" class="vsm-link"> 
            <ngb-highlight [result]="university.total" [term]="service.searchTerm"></ngb-highlight>
          </a>
        </td>
        
      </tr>
      </tbody>
    </table>
    <div class="card-footer pb-0">
      <div class="d-flex w-100 justify-content-between">
        <ngb-pagination
          [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
        </ngb-pagination>
        <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="20">20 items per page</option>
          <option [ngValue]="30">30 items per page</option>
        </select>
      </div>
    </div>
  </form>
</div>
